**/node_modules
**/bin
**/lib
**/dist
.vscode
**/.nyc_output
**/coverage
.coverage
**/*.untracked
**/*.log
api/public/ui
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
