/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~typeface-roboto/index.css";
body {
    font-family: Roboto, sans-serif;
    margin:0;
    height:100%;

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.toolbars {
    top:0px;
    left:0px;
    right:0px;
    &.fixed {
        position:fixed;
    }
    &.abs {
        position: absolute;
    }
}
.contents {
    overflow:auto;
    position: absolute;
    top:128px;
    bottom:0px;
    left:0px;
    right:0px;
    padding:24px;
    &-tb-2 {

        overflow:auto;
        position: absolute;
        top:128px;
        bottom:0px;
        left:0px;
        right:0px;
        padding:24px;
    }
    &-tb-1 {
        top:64px;
        bottom:0px;
        left:0px;
        right:0px;
        padding:24px;
        overflow:auto;
        position: absolute;
    }
}
.menu [mat-button] {
    width:100%;
    display:block;
    text-align: left;
}
mat-card {
    max-width:400px;
    
        [mat-card-avatar] {
            background-image: url('/assets/gus-sm.jpg');
            background-size: cover;
        }
    
}
hr {
    border:none;
    border-top: 1px solid silver;
}