  <a mat-button href="https://github.com/GUSCRAWFORD" target="_new">
    github.com/GUSCRAWFORD
  </a>
  <a mat-button href="https://github.com/GUSCRAWFORD/jyv" target="_new">
    github.com/GUSCRAWFORD/jyv
  </a>
  <a mat-button href="https://github.com/GUSCRAWFORD/fpm" target="_new">
    github.com/GUSCRAWFORD/fpm
  </a>
  <a mat-button href="https://github.com/GUSCRAWFORD/loft" target="_new">
    github.com/GUSCRAWFORD/loft
  </a>
  <a mat-button href="https://github.com/GUSCRAWFORD/mean-seed" target="_new">
    github.com/GUSCRAWFORD/mean-seed
  </a>
  <a mat-button href="https://linkedin.com/in/gus-crawford" target="_new">
    linkedin.com/in/gus-crawford
  </a>
  <hr>
  <a mat-button [routerLink]="['/home','terms']">Terms of Service</a>
  <a mat-button [routerLink]="['/home','privacy']">Privacy Policy</a>