  <a mat-button href="https://github.com/GUSCRAWFORD">
    github.com/GUSCRAWFORD
  </a>
  <a mat-button href="https://github.com/GUSCRAWFORD/jyv">
    github.com/GUSCRAWFORD/jyv
  </a>
  <a mat-button href="https://github.com/GUSCRAWFORD/fpm">
    github.com/GUSCRAWFORD/fpm
  </a>
  <a mat-button href="https://github.com/GUSCRAWFORD/loft">
    github.com/GUSCRAWFORD/loft
  </a>
  <a mat-button href="https://github.com/GUSCRAWFORD/mean-seed">
    github.com/GUSCRAWFORD/mean-seed
  </a>
  <a mat-button href="linkedin.com/in/gus-crawford">
    https://www.linkedin.com/in/gus-crawford/
  </a>
  <hr>
  <a mat-button [routerLink]="['/home','terms']">Terms of Service</a>
  <a mat-button [routerLink]="['/home','privacy']">Privacy Policy</a>