# DEV Container Config for ENV Variables (keep uncommented to not override when deploying to other env's via eb cli)
#option_settings:
#  aws:elasticbeanstalk:application:environment:
#    IOT_SIGN_MANAGER_PROFILE_CERT_ID: 0950025ffe
#    IOT_SIGN_MANAGER_PROFILE: dev-manager
#    IOT_HOST: a2pz9calh45gfn-ats.iot.us-east-1.amazonaws.com
#    AWS_ACCESS_KEY_ID: AKIAJIGLH6DDXH72UZAQ
#    AWS_SECRET_ACCESS_KEY: l0WMpoUkHQmmb1UHEaZIY29LtgHZHbJ47VFmz2
#    NODE_ENV: DEV
#    ALIVE_TOPIC: alive
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/00_set_tmp_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash   
      if [ -f /tmp/.npm ]; then
        chown -R nodejs:nodejs /tmp/.npm
      fi
      if [ -f /tmp/.config ]; then
        chown -R nodejs:nodejs /tmp/.config
      fi