# Working version from: https://bitbucket.org/team-gus/sports-platform/src/0bf98cccf34e4f269ee19095c33e46c58f5342d7/sports-platform.com/.ebextensions/002-nodejs-environment.config?at=deploy%2Fdevelop
option_settings:
  aws:elasticbeanstalk:container:nodejs:
#    NodeVersion: 4.8.7
#    NodeVersion: 4.9.1
#    NodeVersion: 5.12.0
#    NodeVersion: 6.13.1
#    NodeVersion: 6.14.1
#    NodeVersion: 7.10.1
#    NodeVersion: 8.10.0
#    NodeVersion: 8.11.1
    NodeVersion: 8.14.0
# aws:elasticbeanstalk:application:environment:
#   NPM_USE_PRODUCTION: true

commands:
  011_001_node:
    command: "ln -sf /opt/elasticbeanstalk/node-install/node-v$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:container:nodejs -o NodeVersion)-*/bin/node /bin/node"
  011_002_npm:
    command: "ln -sf /opt/elasticbeanstalk/node-install/node-v$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:container:nodejs -o NodeVersion)-*/bin/npm /bin/npm"