
<app-main-nav-menu>
  <div class="menu">
    <app-links></app-links>
  </div>
    <div class="content">
      <div class="abs toolbars mat-elevation-z6">
        <app-main-toolbar>
          guscrawford.com
        </app-main-toolbar>
      </div>
      <div class="contents-tb-1">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>guscrawford.com</mat-card-title>
            <mat-card-subtitle>A motivated full-stack developer</mat-card-subtitle>
          </mat-card-header>
        <!-- <img mat-card-image src="/assets/gus.jpg"> -->
        <mat-card-content>

    <app-links></app-links>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
        </mat-card>
      </div>
    </div>
      
</app-main-nav-menu>